@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: AvenirLTStd;
    src: url(../fonts/AvenirLTStd-Light.woff2);
}
@font-face {
    font-family: ArnoPro-Regular;
    src: url(../fonts/ArnoPro-Regular.woff2);
}
@font-face {
    font-family:AvenirLTStd-Medium ;
    src: url(../fonts/AvenirLTStd-Medium.woff2);
}
@font-face {
    font-family: arno;
    src: url(../fonts/ArnoPro-Regular.woff2);
}
html,body{margin:0;}
*{
    box-sizing:border-box;
    color: #666;
    font-family:'AvenirLTStd','Noto Sans KR', sans-serif;
    letter-spacing: 0.125em;
}

ul,li{
    list-style-type: none;
    margin:0; padding:0;
}

figure{margin:0}
h1,h2,h3,h4,h5,h6,p{margin:0;}
img{vertical-align: top;}
a{text-decoration: none;}

header{
    width:100%; height:auto;
    display: flex;
    justify-content: center;
    margin:100 auto;
    text-align: center;
}

header>div{
    width:100%; height: 12%;
    max-width: 1640px;
    padding-top:20px;
    display: flex;
    justify-content: space-between;
    align-items:left;
    position: fixed;
    background-color: white;
    z-index: 99;
    align-items: center;
}
header>div>h1{
    width:10%; height:auto;
    font-size: 0;
}

header>div>h1>a{

}

header>div>h1>a>img{
    width: 200px; height:16px;
    
}

header>div>.headmenu{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header>div>.headmenu>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header>div>.headmenu>ul>li>a{
    margin-left:70px;
    font-weight: 500;
    color:#333333;
    letter-spacing: 0.005em;
}

header>div>.headmenu>nav>button:hover{
    cursor: pointer;
}

header>div>.headsearch{
    margin:85px auto;
    width:100%; height:200px;
    background-color: white;
    position: absolute;
    text-align: center;
    display:none;
    opacity: 0;
}

header>div>.headsearch>form{
    text-align: left;
    padding-left: 600px;
    padding-top: 50px;
}

header>div>.headsearch>form>button{
    border:none;
}

header>div>.headsearch>form>button::before{
    content:'';
    display: inline-block;
    width:40px; height:40px;
    background-color: white;
    background: url(../img/ico_package.png) 0 0 / 600% no-repeat;
    background-position: 0 2px;
}

header>div>.headsearch>form>input{
    border:none;
    font-size: 2em;
    border-bottom:1px solid black;
}




/* header>div>nav>.serchbutton.active p{
    display:block;
}
 */

.more{
    
}
.more a{
    margin: 100px auto;
    width:182px; height: 70px;
    padding-left: 20px;
    border: 1px solid #66666659;
    letter-spacing: 0.1em;
    background-color: none;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 200;
}


.more a figure{
    width:30%; height: 70px;
    padding:0;
    margin:0;
    background:url(../img/ico_package.png) 0 0  / 600% no-repeat;
    vertical-align: top;
    background-position: -130px 27px;
}


footer{
    width:100%; height:auto;
    border-top: 1px solid #66666697;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    margin-bottom: 100px;
}
footer ul{
    max-width: 1640px;
    margin: 50px;
    width:50%;
    display: flex;
    justify-content: center;
    }

footer ul li{
    width:15%; height:30px;
    font-size: 0.75em;
    color:#222222;
    text-align: top;
    display: inline-block;

}

footer ul li a{
    display: flex;
    justify-content: baseline;
    height:30px;

}

footer ul li a::before{
    content: '';
    display: inline-block;
    width:30px; height:30px;
    background: url(../img/ico_package.png) 0 0 / 700% no-repeat;
}

footer ul li:nth-child(1) a:before{
    background-position: 5px -52px;
}

footer ul li:nth-child(2) a:before{
    background-position: -40px -52px;
}

footer ul li:nth-child(3) a:before{
    background-position: -100px -52px;
}

footer ul li:nth-child(4) a:before{
    background-position: -160px -52px;
}

footer ul li:nth-child(5) a:before{
    background-position: 5px -105px;
}

footer > div{
    text-align: center;
    margin: 10px 0;
}

footer > div >  p{
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    color:#66666692;
}
